ServerMessagingApp/Obj/Debug/
ServerMessagingApp/Obj/bin/
ServerMessagingApp/bin/Debug
ServerMessagingApp.Test/obj
ServerMessagingApp.Test/obj/Debug/
ServerMessagingApp.Test/obj/bin/
ServerMessagingApp.Test/bin
.vs
