
ServerMessagingApp/obj
ServerMessagingApp/Obj/Debug
ServerMessagingApp/Obj/bin
ServerMessagingApp.Test/bin
ServerMessagingApp/bin/Debug

ServerMessagingApp.Test/obj
ServerMessagingApp.Test/obj/Debug
ServerMessagingApp.Test/obj/bin
ServerMessagingApp.Test/bin
ServerMessagingApp.Test/bin/Debug

ClientMessagingApp/obj
ClientMessagingApp/Obj/Debug
ClientMessagingApp/Obj/bin
ClientMessagingApp/bin/Debug
ClientMessagingApp.Test/bin
ClientMessagingApp.Test/bin/Debug

.vs
